body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 36px;
    padding: 40px;
}

.random, .start {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.random {
    margin-top: 20px;
}

.start, .gameMessage {
    margin-top: 10px;
}

.gameWinnerMessage {
    font-size: 30px;
    padding: 20px;
}

.row {
    display: flex;
}

.cell {
    height: 50px;
    width: 50px;
    outline: solid black 0.1em;
}

.boards {
    display: flex;
    gap: 2em;
}

.ship {
    outline: solid 0.1em black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.hidden {
    background-color: white;
}

.highlighted {
    outline: solid 0.2em red;
}

.hit {
    background-color: red;
}

.missed {
    display: flex;
    justify-content: center;
    align-items: center;
    
}