.row {
    display: flex;
}

.cell {
    padding: 1em;
    outline: solid black 0.1em;
}

.boards {
    display: flex;
    gap: 2em;
}

.ship {
    outline: solid 0.1em black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.highlighted {
    outline: solid 0.2em red;
}

.hit {
    background-color: red;
}